.job-image {
    background-color: transparent;
    border-color: transparent;
    padding: 30px;
    max-height: fit-content;
    text-align: center;
}

.job-image-celblox {
    background-color: transparent;
    border-color: transparent;
    padding: 30px;
    max-height: fit-content;
    text-align: center;
    margin-top: 10px;
}

.job-card {
    background-color: #98B6B1;
    color: #30343F;
    border: 8px solid #D7BCC8;
    border-style: outset;
    margin: 20px;
}